.signup_container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.signup_form {
    height: 55vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .6);
}

.signup_form h2 {
    font-weight: 600;
    margin: 0;
    font-family: "Helvetica Neue",sans-serif;
}

.signup_form > div {
    height: 5vh;
    width: 75%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.password_container {
    position: relative;
}

.password_container span {
    position: absolute;
    cursor: pointer;
    right: 0;
    font-size: 1vw;
    opacity: .5;
    font-weight: 600;
}

.form_input {
    outline: none;
    min-height: 100%;
    width: 100%;
    font-size: 1vw;
    border: 2px solid rgb(175, 175, 175);
    background: none;
    border-radius:2vw;
    padding-left: 1vw;
}

::-webkit-input-placeholder {
    color: rgb(109, 107, 107);
}