.dashboard_container {
    /* height: 100vh; */
    width: 100vw;
    background-color: #F3F1FD;
}

.navbar_container {
    height: 6vh;
    width: 100vw;
}

.dashboard_content_container {
    height: 94vh;
    width: 100vw;
    display: flex;
}

.dashboard_left_container {
    height: 100%;
    width: 70vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboard_left_container > * {
    background-color: #fff;
    border-radius: 2vh;
    width: 85%;
    margin: 1vh 0 1vh 0;
}

.dashboard_left_container > *:hover {
    transition: all .2s ease-in-out;
    box-shadow: 0 0 10px 1px lightgrey;
    background-color: #fff;
}

.dashboard_right_container {
    height: 100%;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard_questions {
    height: 20vh;
}

.dashboard_yearlydata {
    height: 20vh;
}

.dashboard_recent_submissions {
    height: 50vh;
}