.dashboard_container {
    height: 100vh;
    width: 100vw;
    background-color: #F3F1FD;
}

.navbar_container {
    height: 6vh;
    width: 100vw;
}

.dashboard_content_container {
    height: 94vh;
    width: 100vw;
    display: flex;
}

.dashboard_left_container {
    height: 100%;
    width:70vw;
    background-color: blue;
}

.dashboard_right_container {
    height: 100%;
    width: 30vw;
    background-color:green;
    display: flex;
    align-items: center;
    justify-content: center;
}