.navbar_container {
    height: 8vh;
    width: 100vw;
    background-color: #4943D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    box-shadow: 0 0 2vh 1vh lightgrey;
}

.logo_container {
    height: 100%;
    width: 5vw;
    margin: 0 2vw;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo_container img {
    height: 80%;
    width: auto;
    object-fit: contain;
}

.navbar_links_container {
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    margin: 0 2vw;
}

.navbar_links_container > * {
    margin: 0 1vw;
    text-decoration: none;
    color: #fff;
}

.navbar_links_container a:hover {
    color: rgb(219, 219, 219);
    transition: all .2s ease-in-out;
}

.profile_main_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile_main_container a {
    text-decoration: none;
    color: #fff;
}

.profile_main_container:hover a{
    color:rgb(219, 219, 219);
}

.profile_image_container {
    height: 4vh;
    width: 4vh;
    margin-left: 1vh;
    border-radius: 50%;
    display: inline-block;
    overflow: clip;
    object-fit: contain;
}

.profile_image_container img {
    width: auto;
    height: 100%;
}