body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: 
  linear-gradient(121deg, #FF0000 0%, #ff0000 100%), 
  linear-gradient(140deg, #ff5454 27%, #223DCB 100%), 
  linear-gradient(140deg, #4E9C51 0%, #001AFF 72%), 
  linear-gradient(64deg, #6e00ff 0%, #0038FF 100%), 
  radial-gradient(52% 101.79% at 50% 50%, #707300 0%, #ff0000 100%),
  radial-gradient(100% 100% at 70% 0%, #7A3B00 0%, #1DAC92 100%);
  background-blend-mode: overlay, overlay, difference, difference, color-burn, exclusion; */

  /* background: 
  linear-gradient(121deg, #FF0000 0%, #ff0000 100%), 
  linear-gradient(140deg, #000101 27%, #223DCB 100%), 
  linear-gradient(140deg, #4E9C51 0%, #001AFF 72%), 
  linear-gradient(64deg, #6e00ff 0%, #07423D 100%), 
  radial-gradient(52% 101.79% at 50% 50%, #707300 0%, #ff0000 100%),
  radial-gradient(100% 100% at 70% 0%, #7A3B00 0%, #1DAC92 100%);
  background-blend-mode: overlay, overlay, difference, difference, color-burn, exclusion; */
  background: linear-gradient(125deg, #fff  0%, #c9fbfd 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}